@import 'constants.css';

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
}

.main-content {
    width: 1900px;
    margin: auto;
    margin-bottom: 50px;
}

.selection-row-div {
    margin-bottom: 30px;
}

.main-divider {
    border: 1px;
    border-style: solid;
    border-color: var(--accent);
    margin-bottom: 80px;
}