@import 'constants.css';

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
}


.App {
    text-align: center;
}

.content {
    display: inline-block;
    margin-bottom: 100px;
}