:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

    --text: #e5f2fa;
    --background: #010304;
    --primary: #3ea1da;
    --secondary: #06151e;
    --accent: #268ec9;
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
