@import '../../constants.css';

/* Footer styles */
footer {
    background-color: var(--background);
    color: var(--text);
    text-align: center;
    padding: 40px 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--accent);
}