@import '../../constants.css';

/* Header styles */
header {
    background-color: var(--primary);
    color: var(--text);
    padding: 10px 0;
    text-align: left;
    margin-bottom: 20px;
}

header h1 {
    margin-left: 30px;
}