@import '../../constants.css';

/* Header styles */
header {
    background-color: var(--background);
    color: var(--text);
    padding: 10px 0;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--accent);
}

header h1 {
    margin-left: 30px;
}