@import '../../constants.css';

.selection-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.select-time-container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.selection-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selection-container h3 {
    margin-right: 20px;
}

.selection-container h2 {
    margin-right: 20px;
}

input {
    font-size: 20px;
    margin-right: 20px;
    background-color: var(--background);
    color: var(--text);
    border: 0;
}

button {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    height: 50px;
    width: 50px;
    font-size: 20pt;
    border-radius: 5px;
    border-width: 0px;
    background-color: var(--primary);
    color: var(--text);
}

button:hover {
    border-color: var(--text);
    border-width: 2px;
}
