@import '../../constants.css';

.a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-right: 20px;
}

input {
    font-size: 20px;
    margin-right: 20px;
}

button {
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
    width: 50px;
    font-size: 20pt;
    border-radius: 5px;
    border-width: 0px;
    background-color: var(--primary);
    color: var(--text);
}

button:hover {
    border-color: var(--text);
    border-width: 2px;
}
