@import '../../constants.css';

.news-source-elem-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 7px 7px;
    grid-auto-flow: row;
    grid-template-areas:
        "source-name source-name num-articles article-ratio num-topics categories-chart categories-chart sentiment-chart sentiment-chart"
        "categories categories num-articles article-ratio num-topics categories-chart categories-chart sentiment-chart sentiment-chart"
        "categories categories sentiment-pos sentiment-neu sentiment-neg categories-chart categories-chart sentiment-chart sentiment-chart"
        "categories categories sentiment-pos sentiment-neu sentiment-neg categories-chart categories-chart sentiment-chart sentiment-chart";
    height: 284px;
    margin-bottom: 7px;
}

.news-source-elem-container h1 {
    font-size: 28px;
    font-weight: 600;
}

.news-source-elem-container h2 {
    font-size: 20px;
    font-weight: 600;
}

.news-source-elem-container p {
    font-size: 20px;
    font-weight: 400;
}

.rounded-box {
    background-color: var(--secondary);
    border-radius: 5px;
}


/*######################## SOURCE TITLE ########################*/
.source-name {
    grid-area: source-name;
    background-color: var(--primary);
    border-radius: 5px;

}

.title-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*##################### CATEGORIES OVERVIEW ####################*/
.categories {
    grid-area: categories;
    text-align: center;
}

.category_list_item {
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 40px;
}

.category_list_item div {
    margin-right: 20px;
    width: 35px;
    height: 15px;
}

.category_list_item p {
    margin-right: 20px;
}

/*###################### CATEGORIES CHART ######################*/
.categories-chart-div {
    grid-area: categories-chart;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*####################### SENTIMENT CHART ######################*/
.sentiment-chart-div {
    grid-area: sentiment-chart;
    position: relative;
    text-align: center;
    height: auto;
}

.sentiment-chart {
    position: absolute;
    height: 220px;
    width: 220px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*####################### SENTIMENT DATA #######################*/
.double-data-box {
    margin-top: 10px;
    text-align: center;
}

.double-data-inline-values {
    display: flex;
    align-items: center;
    justify-content: center;
}

.double-data-inline-values p {
    margin-top: 5px;
    margin-right: 10px;
}

.sentiment-pos {
    grid-area: sentiment-pos;
}

.sentiment-neu {
    grid-area: sentiment-neu;
}

.sentiment-neg {
    grid-area: sentiment-neg;
}

/*######################### SMALL STATS ########################*/
.single-data-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-data-box p {
    margin-top: 5px;
}

.num-articles {
    grid-area: num-articles;
}

.article-ratio {
    grid-area: article-ratio;
}

.num-topics {
    grid-area: num-topics;
}